.DS_Store
target
*.iml
.idea
.settings
.project
.classpath
.vscode/
*~
local-test
out
lib
bin
dependency-reduced-pom.xml
hotspot.log
.directory
.java-version
.graal-install
hs_err_pid*.log
dumps
*.orig
*.rej
.factorypath
graph-output.dot
*.swp
*.swo
ObjectStore
.gradle
build
docker/distroless/bazel-*
/.apt_generated_tests/
quarkus.log
replay_*.log
.flattened-pom.xml
build.log
interpolated-pom.xml

# Temporary data ignored in camel-quarkus
/generated-platform-project/quarkus-camel/integration-tests/camel-quarkus-integration-test-hl7/id_file
/generated-platform-project/quarkus-camel/integration-tests/camel-quarkus-integration-test-js-dsl/src/main/resources/module.mjs

# Temporary data ignored in quarkus-cxf tests
/generated-platform-project/quarkus-cxf/integration-tests/quarkus-cxf-integration-test-ws-rm/derby.log

# Workaround for https://github.com/quarkusio/quarkus/issues/33305
/generated-platform-project/quarkus-cxf/integration-tests/Java2wsTest/
/generated-platform-project/quarkus-camel/integration-tests/Java2wsTest/

# Workaround for https://github.com/quarkiverse/quarkus-cxf/issues/900
/generated-platform-project/quarkus-cxf/integration-tests/quarkus-cxf-integration-test-logging/src/main/resources/wsdl/CalculatorService.wsdl
/generated-platform-project/quarkus-cxf/integration-tests/quarkus-cxf-integration-test-ws-security-client/src/main/resources/wsdl/dir/WssCalculatorService.wsdl
