name: "Quarkus ecosystem CI"
on:
  watch:
    types: [started]

# For this CI to work, ECOSYSTEM_CI_TOKEN needs to contain a GitHub with rights to close the Quarkus issue that the user/bot has opened,
 # while 'ECOSYSTEM_CI_REPO_PATH' needs to be set to the corresponding path in the 'quarkusio/quarkus-ecosystem-ci' repository

env:
  LANG: en_US.UTF-8
  ECOSYSTEM_CI_REPO: quarkusio/quarkus-ecosystem-ci
  ECOSYSTEM_CI_REPO_FILE: context.yaml
  JAVA_VERSION: 21

  #########################
  # Repo specific setting #
  #########################

  ECOSYSTEM_CI_REPO_PATH: platform

jobs:
  main:
    name: "Build against Quarkus from main"
    runs-on: ubuntu-latest
    if: github.actor == 'quarkusbot'

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          path: current-repo
          ref: main

      - name: Reclaim Disk Space
        run: current-repo/.github/ci-prerequisites.sh

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ env.JAVA_VERSION }}

      - name: Checkout Ecosystem
        uses: actions/checkout@v6
        with:
          repository: ${{ env.ECOSYSTEM_CI_REPO }}
          ref: main
          path: ecosystem-ci

      - uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-ecosystem-main-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-ecosystem-main

      - name: Setup and Run Tests
        run: ./ecosystem-ci/setup-and-test
        env:
          ECOSYSTEM_CI_TOKEN: ${{ secrets.ECOSYSTEM_CI_TOKEN }}

      - name: Delete snapshots artifacts from cache
        run: find ~/.m2 -name \*-SNAPSHOT -type d -exec rm -rf {} +

  lts:
    name: "Build ${{ matrix.version }} against Quarkus latest ${{ matrix.version }}"
    runs-on: ubuntu-latest
    if: github.actor == 'quarkusbot'
    strategy:
      matrix:
        version: ['3.27', '3.20', '3.15']
      fail-fast: false
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          path: current-repo
          ref: '${{ matrix.version }}'

      - name: Reclaim Disk Space
        run: current-repo/.github/ci-prerequisites.sh

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ env.JAVA_VERSION }}

      - name: Checkout Ecosystem
        uses: actions/checkout@v6
        with:
          repository: ${{ env.ECOSYSTEM_CI_REPO }}
          ref: main
          path: ecosystem-ci

      - uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-ecosystem-${{ matrix.version }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-ecosystem-${{ matrix.version }}

      - name: Setup and Run Tests
        run: ./ecosystem-ci/setup-and-test
        env:
          ECOSYSTEM_CI_TOKEN: ${{ secrets.ECOSYSTEM_CI_TOKEN }}
          ALTERNATIVE: '${{ matrix.version }}'

      - name: Delete snapshots artifacts from cache
        run: find ~/.m2 -name \*-SNAPSHOT -type d -exec rm -rf {} +
